Repository Goorm-Lucky7/Dart_FE, pull requests merged in 2024-05, with the labels that each got.

#6 [PR] 전시관 생성 페이지 UI
  package.json
  src/App.tsx
  src/components/dropZone/index.tsx
  src/components/dropZone/styles.ts
  src/main.tsx
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/components/stepZero/styles.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/stores/post.ts
  src/styles/colorPalette.ts
  src/types/post.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#4 [PR] 공통 컴포넌트 생성
  index.html
  src/App.tsx
  src/assets/images/mainLogo.png
  src/components/AlertPortal.tsx
  src/components/Button.tsx
  src/components/Dimmed.tsx
  src/components/Navbar.tsx
  src/components/Text.tsx
  src/components/alert/index.tsx
  src/components/alert/styles.ts
  src/components/icon/index.tsx
  src/components/icon/styles.ts
  src/components/index.ts
  src/components/navbar/index.tsx
  src/components/navbar/styles.ts
  src/consts/navbar.ts
  src/main.tsx
  src/pages/detail/hooks/index.ts
  src/pages/detail/index.tsx
  src/pages/gallery/components/index.ts
  src/pages/gallery/hooks/index.ts
  src/pages/gallery/index.tsx
  src/pages/gallery/styles.ts
  src/pages/index.ts
  src/pages/main/index.tsx
  src/stores/alert.ts
  src/styles/button.ts
  src/styles/colorPalette.ts
  src/styles/globalStyles.ts
  src/styles/layout.ts
  src/styles/typography.ts
Labels: 🪲 Bug, 🎩 Style, 🥃 Chore, 🏞️ Asset

#8 [PR] 전시관 페이지 UI 구현
  pnpm-lock.yaml
  src/App.tsx
  src/assets/images/404.png
  src/assets/images/display.png
  src/assets/images/gallery1.png
  src/assets/images/gallery2.png
  src/assets/images/gallery3.png
  src/assets/images/gallery4.png
  src/assets/images/gallery5.png
  src/assets/images/gallery6.png
  src/assets/images/galleryLogo.png
  src/assets/images/image 173.png
  src/components/icon/index.tsx
  src/consts/gallery.ts
  src/mocks/handler.ts
  src/pages/error/index.tsx
  src/pages/error/styles.ts
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryHeader/styles.ts
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/gallery/components/galleryMain/styles.ts
  src/pages/gallery/components/index.ts
  src/pages/gallery/components/reviewModal/index.tsx
  src/pages/gallery/components/reviewModal/styles.ts
  src/pages/gallery/index.tsx
  src/pages/gallery/styles.ts
  src/types/gallery.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style

#12 [PR]에러, 작품설명 모달, 전시설명 모달 UI 구현
  src/App.tsx
  src/assets/images/modalbottom.png
  src/assets/images/rectangle.png
  src/components/icon/index.tsx
  src/components/icon/styles.ts
  src/components/modal/explainModal/index.tsx
  src/components/modal/explainModal/styles.ts
  src/components/textCircle/index.tsx
  src/components/textCircle/styles.ts
  src/pages/error/index.tsx
  src/pages/error/styles.ts
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryHeader/styles.ts
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/index.ts
Labels: 🎁 Feature, 🎩 Style

#11 [develop/post] 달력, input 폼 구현
  src/App.tsx
  src/components/dropZone/index.tsx
  src/components/dropZone/styles.ts
  src/components/icon/index.tsx
  src/components/inputBox/index.tsx
  src/components/inputBox/styles.ts
  src/components/textBox/index.tsx
  src/components/textBox/styles.ts
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepOne/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepTwo/styles.ts
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/components/stepZero/styles.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/styles/globalStyles.ts
  src/types/post.ts
Labels: 🎁 Feature, 🎩 Style

#10 [PR] 회원가입 UI 및 기능 구현
  pnpm-lock.yaml
  src/App.tsx
  src/apis/member.ts
  src/components/alert/index.tsx
  src/components/icon/index.tsx
  src/consts/agree.ts
  src/consts/signup.ts
  src/hooks/useGetSearchParams.ts
  src/mocks/handler.ts
  src/pages/signup/components/checkAgree/index.tsx
  src/pages/signup/components/checkAgree/styles.ts
  src/pages/signup/components/index.ts
  src/pages/signup/components/inputArea/index.tsx
  src/pages/signup/components/inputArea/styles.ts
  src/pages/signup/components/signupAgree/index.tsx
  src/pages/signup/components/signupAgree/styles.ts
  src/pages/signup/components/signupButtons/index.tsx
  src/pages/signup/components/signupButtons/styles.ts
  src/pages/signup/components/signupEssentailForm/index.tsx
  src/pages/signup/components/signupEssentailForm/styles.ts
  src/pages/signup/components/signupFormLayout/index.tsx
  src/pages/signup/components/signupFormLayout/styles.ts
  src/pages/signup/components/signupOptionalForm/index.tsx
  src/pages/signup/components/signupOptionalForm/styles.ts
  src/pages/signup/components/signupTextarea/index.tsx
  src/pages/signup/components/signupTextarea/styles.ts
  src/pages/signup/components/titleNumber/index.tsx
  src/pages/signup/components/titleNumber/styles.ts
  src/pages/signup/hooks/index.ts
  src/pages/signup/index.tsx
  src/pages/signup/styles.ts
  src/routes/index.ts
  src/stores/agree.ts
  src/styles/button.ts
  src/styles/colorPalette.ts
  src/styles/globalStyles.ts
  src/styles/typography.ts
  src/types/member.ts
  src/utils/getInputAreaOptions.ts
Labels: 🪲 Bug, ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore
