Repository Goorm-Lucky7/Dart_FE, pull requests merged in 2024-06, with the labels that each got.

#19 [PR] 전시 생성 페이지 기능 구현
  package.json
  src/components/dropZone/styles.ts
  src/components/inputBox/index.tsx
  src/components/inputBox/styles.ts
  src/components/textBox/index.tsx
  src/components/textBox/styles.ts
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepOne/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepTwo/styles.ts
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/components/stepZero/styles.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
Labels: 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore

#25 [PR] 전시 생성 마무리
  src/apis/gallery.ts
  src/components/dropZone/index.tsx
  src/main.tsx
  src/pages/post/components/inputs/TagsInput.tsx
  src/pages/post/components/inputs/styles.ts
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepOne/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepTwo/styles.ts
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/components/stepZero/styles.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/stores/post.ts
  src/styles/fonts.ts
  src/types/post.ts
  src/utils/formatDateInKST.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style

#24 [PR] 각 페이지 api 구현 및 리디자인
  pnpm-lock.yaml
  public/gallery1.png
  public/gallery2.png
  public/gallery3.png
  public/gallery4.png
  public/gallery5.png
  public/gallery6.png
  public/gallery7.png
  src/apis/member.ts
  src/mocks/handler.ts
  src/mocks/mockData/galleryData.ts
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/components/editMemberForm/styles.ts
  src/pages/editMemberInfo/components/editMemberHeader/index.tsx
  src/pages/editMemberInfo/components/editMemberHeader/styles.ts
  src/pages/editMemberInfo/hooks/postMemberEditInfo.ts
  src/pages/editMemberInfo/index.tsx
  src/pages/editMemberInfo/styles.ts
  src/pages/editUserInfo/components/editUserForm/index.tsx
  src/pages/editUserInfo/index.tsx
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/gallery/hooks/fetchGalleryData.ts
  src/pages/gallery/hooks/index.ts
  src/pages/index.ts
  src/pages/login/components/loginForm/index.tsx
  src/routes/index.ts
  src/types/gallery.ts
  src/types/member.ts
Labels: ✨ Fix, 🎁 Feature

#23 [PR] 메인페이지 UI 및 기능 구현
  index.html
  src/apis/gallery.ts
  src/apis/member.ts
  src/components/AlertPortal.tsx
  src/components/GalleryInfoPortal.tsx
  src/components/alert/index.tsx
  src/components/alert/styles.ts
  src/components/button/index.tsx
  src/components/button/styles.ts
  src/components/icon/index.tsx
  src/components/index.ts
  src/components/modal/explainModal/index.tsx
  src/components/navbar/index.tsx
  src/components/navbar/styles.ts
  src/consts/filter.ts
  src/main.tsx
  src/mocks/handler.ts
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/login/components/loginLinkButton/index.tsx
  src/pages/main/components/buttonBar/index.tsx
  src/pages/main/components/buttonBar/styles.ts
  src/pages/main/components/costFilter/index.tsx
  src/pages/main/components/costFilter/styles.ts
  src/pages/main/components/filter/index.tsx
  src/pages/main/components/filter/styles.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryInfo/styles.ts
  src/pages/main/components/galleryItem/index.tsx
  src/pages/main/components/galleryItem/styles.ts
  src/pages/main/components/galleryList/index.tsx
  src/pages/main/components/galleryList/styles.ts
  src/pages/main/components/index.ts
  src/pages/main/components/keywordFilter/index.tsx
  src/pages/main/components/keywordFilter/styles.ts
  src/pages/main/components/pageButtons/index.tsx
  src/pages/main/components/pageButtons/styles.ts
  src/pages/main/components/postButton/index.tsx
  src/pages/main/components/postButton/styles.ts
  src/pages/main/hooks/index.ts
  src/pages/main/hooks/useGetGalleries.ts
  src/pages/main/index.tsx
  src/pages/main/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/signup/components/checkAgree/index.tsx
  src/routes/ProtectedRoute.tsx
  src/stores/filter.ts
  src/stores/modal.ts
  src/stores/page.ts
  src/styles/button.ts
  src/styles/globalStyles.ts
  src/styles/layout.ts
  src/types/gallery.ts
  src/utils/getPage.ts
  src/utils/parseDate.ts
Labels: ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore

#30 [PR] 회원정보수정, 전시설명 모달 api 구현
  src/apis/gallery.ts
  src/apis/member.ts
  src/components/modal/explainModal/index.tsx
  src/components/modal/explainModal/styles.ts
  src/mocks/handler.ts
  src/mocks/mockData/editData.ts
  src/mocks/mockData/galleryDetail.ts
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/components/editMemberForm/styles.ts
  src/pages/editMemberInfo/components/editMemberHeader/styles.ts
  src/pages/editMemberInfo/hooks/postMemberEditInfo.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/reviewModal/index.tsx
  src/pages/gallery/hooks/fetchGalleryData.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/types/gallery.ts
  src/types/member.ts
  src/types/post.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#31 [PR] 마이페이지 Ui구현, 전시생성 수정
  src/apis/gallery.ts
  src/apis/member.ts
  src/apis/payment.ts
  src/pages/memberInfo/components/exhibition/Ticket.tsx
  src/pages/memberInfo/components/exhibition/index.tsx
  src/pages/memberInfo/components/exhibition/styles.ts
  src/pages/memberInfo/components/index.ts
  src/pages/memberInfo/components/info/index.tsx
  src/pages/memberInfo/components/info/style.ts
  src/pages/memberInfo/components/menu/index.tsx
  src/pages/memberInfo/components/menu/styles.ts
  src/pages/memberInfo/components/payment/PaidList.tsx
  src/pages/memberInfo/components/payment/index.tsx
  src/pages/memberInfo/components/payment/styles.ts
  src/pages/memberInfo/index.tsx
  src/pages/memberInfo/styles.ts
  src/pages/post/components/index.ts
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/types/payment.ts
  src/types/post.ts
  src/utils/parseTime.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style

#32 [PR] 전시 상세 gelleryid 받기 추가
  src/apis/member.ts
  src/components/GalleryInfoPortal.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryItem/index.tsx
  src/pages/main/components/galleryItem/styles.ts
  src/pages/signup/components/signupEssentailForm/index.tsx
  src/stores/member.ts
  src/stores/modal.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style

#36 Deploy
  .github/workflows/front-build.yaml
  src/consts/signup.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/memberInfo/components/info/index.tsx
  src/pages/post/components/stepZero/index.tsx
  src/pages/signup/components/signupOptionalForm/index.tsx
Labels: 🛰️ Deploy

#37 [PR] 결제 시스템 구현
  src/apis/payment.ts
  src/pages/index.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/payment/fail/index.tsx
  src/pages/payment/fail/styles.ts
  src/pages/payment/motion/index.tsx
  src/pages/payment/motion/styles.ts
  src/pages/payment/success/index.tsx
  src/pages/payment/success/styles.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/routes/index.ts
Labels: 🎁 Feature, 🎩 Style

#41 Develop/apiintro
  package.json
  pnpm-lock.yaml
  src/apis/gallery.ts
  src/apis/member.ts
  src/apis/review.ts
  src/mocks/handler.ts
  src/mocks/mockData/editData.ts
  src/mocks/mockData/galleryData.ts
  src/mocks/mockData/galleryDetail.ts
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/components/editMemberForm/styles.ts
  src/pages/editMemberInfo/hooks/postMemberEditInfo.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/gallery/components/reviewModal/index.tsx
  src/pages/gallery/components/reviewModal/styles.ts
  src/pages/gallery/hooks/fetchGalleryData.ts
  src/pages/intro/components/banner/index.tsx
  src/pages/intro/components/banner/styles.ts
  src/pages/intro/components/introduce/index.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/types/gallery.ts
  src/types/post.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#40 [PR] 배포 및 미구현 과제
  package.json
  pnpm-lock.yaml
  src/apis/gallery.ts
  src/apis/member.ts
  src/apis/search.ts
  src/assets/images/postButton.png
  src/components/GalleryInfoPortal.tsx
  src/components/button/index.tsx
  src/components/button/styles.ts
  src/components/circleLoader/index.tsx
  src/components/circleLoader/styles.ts
  src/components/index.ts
  src/components/inputField/index.tsx
  src/components/inputField/styles.ts
  src/components/navbar/index.tsx
  src/components/navbar/styles.ts
  src/consts/filter.ts
  src/consts/signup.ts
  src/hooks/index.ts
  src/hooks/useDebounce.ts
  src/hooks/useInput.ts
  src/hooks/useOutsideClick.ts
  src/mocks/handler.ts
  src/mocks/membrerHandler.ts
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/index.ts
  src/pages/login/components/loginLinkButton/index.tsx
  src/pages/main/components/buttonBar/index.tsx
  src/pages/main/components/buttonBar/styles.ts
  src/pages/main/components/costFilter/index.tsx
  src/pages/main/components/filter/index.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryList/index.tsx
  src/pages/main/components/galleryList/styles.ts
  src/pages/main/components/keywordFilter/index.tsx
  src/pages/main/components/keywordFilter/styles.ts
  src/pages/main/components/pageButtons/index.tsx
  src/pages/main/components/postButton/index.tsx
  src/pages/main/components/postButton/styles.ts
  src/pages/main/hooks/useGetGalleries.ts
  src/pages/main/hooks/useGetSearchDatas.ts
  src/pages/main/styles.ts
  src/pages/payment/Failed.tsx
  src/pages/payment/Success.tsx
  src/pages/payment/styles.ts
  src/pages/signup/components/index.ts
  src/pages/signup/components/signupCheck/index.tsx
  src/pages/signup/components/signupCheck/styles.ts
  src/pages/signup/components/signupEssentailForm/index.tsx
  src/pages/signup/components/signupOptionalForm/styles.ts
  src/pages/signup/index.tsx
  src/routes/index.ts
  src/stores/member.ts
  src/stores/modal.ts
  src/styles/button.ts
  src/styles/globalStyles.ts
  src/types/gallery.ts
  src/types/member.ts
  src/utils/decodedToken.ts
  tsconfig.node.json
Labels: ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore, 🏞️ Asset

#46 [PR] build오류 수정
  pnpm-lock.yaml
  src/mocks/handler.ts
  src/pages/index.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryItem/index.tsx
  src/pages/main/components/keywordFilter/index.tsx
  src/pages/memberInfo/components/exhibition/Ticket.tsx
  src/pages/memberInfo/components/exhibition/index.tsx
  src/pages/payment/Failed.tsx
  src/pages/payment/Success.tsx
Labels: 🪲 Bug

#47 [PR] 실시간 기능 UI 구현
  index.html
  package.json
  pnpm-lock.yaml
  src/components/ChatPortal.tsx
  src/components/chatModal/chat/index.tsx
  src/components/chatModal/chat/styles.ts
  src/components/chatModal/index.tsx
  src/components/chatModal/styles.ts
  src/components/chatModal/viewer/index.tsx
  src/components/chatModal/viewer/styles.ts
  src/components/icon/index.tsx
  src/components/index.ts
  src/main.tsx
  src/pages/gallery/components/galleryHeader/index.tsx
  src/stores/modal.ts
Labels: 🎁 Feature, 🎩 Style, 🥃 Chore

#50 [PR] 회원정보 수정 api, 전시 페이지 마무리
  src/apis/member.ts
  src/components/Dimmed.tsx
  src/mocks/handler.ts
  src/mocks/mockData/galleryData.ts
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/components/editMemberForm/styles.ts
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/gallery/components/galleryMain/styles.ts
  src/pages/gallery/styles.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/types/member.ts
Labels: ✨ Fix, 🎩 Style, 🥃 Chore

#53 [PR] 전시 생성 완료 페이지 수정
  src/pages/post/index.tsx
  src/pages/postLoader/index.tsx
  src/pages/postLoader/styles.ts
Labels: 🪲 Bug, ✨ Fix

#55 [PR] 작품 설명 모달 이미지 크기 수정
  src/main.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryMain/index.tsx
  src/pages/gallery/components/reviewModal/index.tsx
  src/types/gallery.ts
Labels: ✨ Fix, 🎩 Style

#61 [PR] UI테스트 피드백 반영, 전시 페이지 템플릿 추가 시작
  src/apis/member.ts
  src/components/alert/index.tsx
  src/components/icon/index.tsx
  src/components/logoLoader/index.tsx
  src/components/logoLoader/styles.ts
  src/main.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryTemplate/index.tsx
  src/pages/gallery/components/galleryTemplate/rotate/index.tsx
  src/pages/gallery/components/galleryTemplate/rotate/styles.ts
  src/pages/gallery/components/galleryTemplate/slide/index.tsx
  src/pages/gallery/components/galleryTemplate/slide/styles.ts
  src/pages/gallery/components/index.ts
  src/pages/gallery/components/reviewModal/index.tsx
  src/pages/gallery/index.tsx
  src/pages/intro/components/index.ts
  src/pages/intro/index.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryInfo/styles.ts
  src/pages/main/components/galleryItem/styles.ts
  src/types/gallery.ts
  src/types/member.ts
Labels: ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore

#59 [PR] 실시간 기능 구현, 전시 생성 UI 테스트 피드백 반영 및 오류 해결
  src/apis/chat.ts
  src/components/ChatPortal.tsx
  src/components/chatModal/chat/index.tsx
  src/components/chatModal/index.tsx
  src/components/chatModal/viewer/styles.ts
  src/components/icon/index.tsx
  src/pages/chatModal/components/chat/ChatMenu.tsx
  src/pages/chatModal/components/chat/Message.tsx
  src/pages/chatModal/components/chat/styles.ts
  src/pages/chatModal/components/viewer/Member.tsx
  src/pages/chatModal/components/viewer/ViewerMenu.tsx
  src/pages/chatModal/components/viewer/styles.ts
  src/pages/chatModal/hooks/useGetMessages.ts
  src/pages/chatModal/index.tsx
  src/pages/chatModal/styles.ts
  src/pages/memberInfo/components/exhibition/Ticket.tsx
  src/pages/post/components/inputs/TagsInput.tsx
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepOne/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepTwo/styles.ts
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/index.tsx
  src/types/chat.ts
  src/utils/formatDateInKST.ts
Labels: 🪲 Bug, ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore

#60 [PR] UI TEST 결과 개선 및 공통 컴포넌트 생성
  index.html
  src/apis/instance.ts
  src/apis/member.ts
  src/components/SignupCheckPortal.tsx
  src/components/alert/index.tsx
  src/components/alert/styles.ts
  src/components/errorBoundary/FetchBoundary.tsx
  src/components/errorBoundary/GlobalBoundary.tsx
  src/components/icon/index.tsx
  src/components/index.ts
  src/components/inputField/index.tsx
  src/components/inputField/styles.ts
  src/components/navbar/index.tsx
  src/components/pageButtons/index.tsx
  src/consts/signup.ts
  src/hooks/useCustomNavigate.ts
  src/hooks/useInput.ts
  src/hooks/withSuspense.tsx
  src/main.tsx
  src/mocks/keywordHandler.ts
  src/pages/login/components/loginForm/index.tsx
  src/pages/login/components/loginForm/styles.ts
  src/pages/login/hooks/usePostLogin.ts
  src/pages/main/components/filter/index.tsx
  src/pages/main/components/filter/styles.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryItem/index.tsx
  src/pages/main/components/galleryItem/styles.ts
  src/pages/main/components/galleryList/styles.ts
  src/pages/main/components/keywordFilter/index.tsx
  src/pages/main/components/keywordFilter/styles.ts
  src/pages/main/components/postButton/styles.ts
  src/pages/main/styles.ts
  src/pages/signup/components/checkModal/index.tsx
  src/pages/signup/components/checkModal/styles.ts
  src/pages/signup/components/index.ts
  src/pages/signup/components/signupAgree/index.tsx
  src/pages/signup/components/signupCheck/index.tsx
  src/pages/signup/components/signupEssentailForm/index.tsx
  src/pages/signup/components/signupForm/index.tsx
  src/pages/signup/components/signupForm/styles.ts
  src/pages/signup/components/signupOptionalForm/index.tsx
  src/pages/signup/hooks/usePostEmailCodeSend.ts
  src/pages/signup/hooks/usePostEmailVerify.ts
  src/pages/signup/hooks/usePostNicknameCheck.ts
  src/pages/signup/hooks/usePostSingup.ts
  src/pages/signup/index.tsx
  src/routes/GlobalErrorBoundary.tsx
  src/routes/index.ts
  src/stores/agree.ts
  src/stores/modal.ts
  src/styles/button.ts
  src/types/error.ts
Labels: ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style

#67 [PR] 채팅기능구현, 결제 페이지 UI 구현
  src/apis/chat.ts
  src/apis/payment.ts
  src/components/icon/index.tsx
  src/pages/chatModal/components/chat/ChatMenu.tsx
  src/pages/chatModal/hooks/useWebSocket.ts
  src/pages/chatModal/index.tsx
  src/pages/chatModal/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/index.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/payment/components/index.ts
  src/pages/payment/components/sDiscount/index.tsx
  src/pages/payment/components/sDiscount/styles.ts
  src/pages/payment/components/sOrder/index.tsx
  src/pages/payment/components/sOrder/styles.ts
  src/pages/payment/components/sPaymentType/index.tsx
  src/pages/payment/components/sPaymentType/styles.ts
  src/pages/payment/components/sTotalCost/index.tsx
  src/pages/payment/components/sTotalCost/styles.ts
  src/pages/payment/index.tsx
  src/pages/payment/styles.ts
  src/pages/payment/success/index.tsx
  src/pages/post/index.tsx
  src/pages/postLoader/index.tsx
  src/pages/postLoader/styles.ts
  src/routes/index.ts
  src/stores/modal.ts
  src/styles/colorPalette.ts
  src/types/chat.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#68 Develop/galleryplus
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/apis/member.ts
  src/components/icon/index.tsx
  src/components/icon/styles.ts
  src/components/logoLoader/index.tsx
  src/components/logoLoader/styles.ts
  src/components/pageButtons/index.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryTemplate/grid/index.tsx
  src/pages/gallery/components/galleryTemplate/grid/styles.ts
  src/pages/gallery/components/galleryTemplate/index.tsx
  src/pages/gallery/components/galleryTemplate/mouse/index.tsx
  src/pages/gallery/components/galleryTemplate/mouse/styles.ts
  src/pages/gallery/components/galleryTemplate/rotate/index.tsx
  src/pages/gallery/components/galleryTemplate/rotate/styles.ts
  src/pages/gallery/components/galleryTemplate/scroll/index.tsx
  src/pages/gallery/components/galleryTemplate/scroll/styles.ts
  src/pages/gallery/components/galleryTemplate/slide/index.tsx
  src/pages/gallery/components/galleryTemplate/slide/styles.ts
  src/pages/gallery/components/reviewModal/index.tsx
  src/pages/gallery/hooks/selectTemplate.tsx
  src/pages/gallery/index.tsx
  src/pages/main/components/galleryItem/index.tsx
  src/types/gallery.ts
  src/types/member.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#73 [PR] 채팅, 결제, 전시생성, 마이페이지 개선
  package.json
  pnpm-lock.yaml
  src/apis/chat.ts
  src/assets/images/template1.png
  src/assets/images/template2.png
  src/assets/images/template3.png
  src/assets/images/template4.png
  src/components/TextCounter.tsx
  src/components/couponIcon/index.tsx
  src/components/couponIcon/styles.ts
  src/components/icon/index.tsx
  src/components/index.ts
  src/pages/chatModal/components/chat/ChatMenu.tsx
  src/pages/chatModal/components/viewer/ViewerMenu.tsx
  src/pages/chatModal/hooks/useGetMembers.ts
  src/pages/chatModal/hooks/useGetMessages.ts
  src/pages/chatModal/hooks/useStomp.ts
  src/pages/chatModal/hooks/useWebSocket.ts
  src/pages/chatModal/index.tsx
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/index.tsx
  src/pages/memberInfo/components/exhibition/Ticket.tsx
  src/pages/memberInfo/components/exhibition/styles.ts
  src/pages/memberInfo/components/info/index.tsx
  src/pages/memberInfo/components/info/style.ts
  src/pages/payment/components/sDiscount/styles.ts
  src/pages/payment/components/sOrder/Ticket.tsx
  src/pages/payment/components/sOrder/index.tsx
  src/pages/payment/components/sOrder/styles.ts
  src/pages/payment/components/sPaymentType/index.tsx
  src/pages/payment/components/sPaymentType/styles.ts
  src/pages/payment/components/sTotalCost/index.tsx
  src/pages/payment/components/sTotalCost/styles.ts
  src/pages/payment/styles.ts
  src/pages/post/components/index.ts
  src/pages/post/components/stepOne/index.tsx
  src/pages/post/components/stepOne/styles.ts
  src/pages/post/components/stepThree/index.tsx
  src/pages/post/components/stepThree/styles.ts
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepTwo/styles.ts
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/index.tsx
  src/styles/colorPalette.ts
  src/types/payment.ts
  src/types/post.ts
  vite.config.ts
Labels: 🪲 Bug, ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore, 🏞️ Asset

#72 [PR] 전시 페이지 템플릿 마무리 및 오류 보강
  index.html
  package.json
  pnpm-lock.yaml
  src/apis/member.ts
  src/assets/images/display.png
  src/components/GalleryDetailPortal.tsx
  src/components/icon/index.tsx
  src/components/icon/styles.ts
  src/components/index.ts
  src/main.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryDetail/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/galleryHeader/styles.ts
  src/pages/gallery/components/galleryTemplate/grid/index.tsx
  src/pages/gallery/components/galleryTemplate/grid/styles.ts
  src/pages/gallery/components/galleryTemplate/mouse/index.tsx
  src/pages/gallery/components/galleryTemplate/mouse/styles.ts
  src/pages/gallery/components/galleryTemplate/rotate/index.tsx
  src/pages/gallery/components/galleryTemplate/rotate/styles.ts
  src/pages/gallery/components/galleryTemplate/scroll/card/index.tsx
  src/pages/gallery/components/galleryTemplate/scroll/card/styles.ts
  src/pages/gallery/components/galleryTemplate/scroll/index.tsx
  src/pages/gallery/components/galleryTemplate/scroll/styles.ts
  src/pages/gallery/components/galleryTemplate/slide/index.tsx
  src/pages/gallery/components/galleryTemplate/slide/styles.ts
  src/pages/gallery/hooks/useImagesLoaded.ts
  src/pages/gallery/index.tsx
  src/pages/gallery/styles.ts
  src/stores/modal.ts
  src/types/member.ts
Labels: ✨ Fix, 🎁 Feature, 🔧 Refactor, 🎩 Style, 🥃 Chore

#77 [PR] 공유하기 구현, 이미지 최적화 방법 서치
  index.html
  package.json
  pnpm-lock.yaml
  public/gallery1.png
  public/gallery2.png
  public/gallery3.png
  public/gallery4.png
  public/gallery5.png
  public/gallery6.png
  public/gallery7.png
  public/logoIcon.svg
  src/App.tsx
  src/apis/gallery.ts
  src/assets/images/back.svg
  src/components/icon/index.tsx
  src/components/navbar/styles.ts
  src/components/notification/index.tsx
  src/components/notification/styles.ts
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/index.ts
  src/pages/gallery/components/shareModal/index.tsx
  src/pages/gallery/components/shareModal/styles.ts
  src/pages/gallery/hooks/shareKakao.ts
  src/pages/gallery/index.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryItem/index.tsx
  src/pages/main/components/galleryItem/styles.ts
  src/stores/modal.ts
  src/types/gallery.ts
  src/utils/truncateSentence.ts
  src/vite-env.d.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#76 [PR] 마이페이지 전시 삭제 기능 추가, 구매 메뉴 오류 해결
  src/apis/gallery.ts
  src/pages/memberInfo/components/exhibition/index.tsx
  src/pages/memberInfo/components/exhibition/styles.ts
  src/pages/memberInfo/components/purchase/index.tsx
  src/pages/memberInfo/components/purchase/styles.ts
  src/pages/memberInfo/hooks/useGetMypage.ts
  src/pages/post/index.tsx
Labels: 🪲 Bug, 🎁 Feature

#81 [PR] 실시간 기능 및 기타 오류 해결
  src/apis/chat.ts
  src/apis/payment.ts
  src/components/icon/index.tsx
  src/pages/chatModal/components/chat/ChatMenu.tsx
  src/pages/chatModal/components/chat/Message.tsx
  src/pages/chatModal/components/chat/styles.ts
  src/pages/chatModal/components/viewer/ViewerMenu.tsx
  src/pages/chatModal/hooks/useGetMembers.ts
  src/pages/chatModal/hooks/useGetMessages.ts
  src/pages/chatModal/hooks/useStomp.ts
  src/pages/chatModal/styles.ts
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/main/components/galleryInfo/styles.ts
  src/pages/memberInfo/components/exhibition/index.tsx
  src/pages/memberInfo/components/info/index.tsx
  src/pages/memberInfo/components/menu/index.tsx
  src/pages/memberInfo/components/purchase/index.tsx
  src/pages/memberInfo/index.tsx
  src/pages/memberInfo/styles.ts
  src/pages/payment/components/TicketSvg.tsx
  src/pages/payment/components/sOrder/index.tsx
  src/pages/payment/components/sPaymentType/index.tsx
  src/pages/payment/components/sPaymentType/styles.ts
  src/pages/payment/components/sTotalCost/index.tsx
  src/pages/payment/hooks/useGetPaymentOrder.ts
  src/pages/post/components/stepThree/index.tsx
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/components/stepZero/index.tsx
  src/pages/post/components/stepZero/styles.ts
  src/pages/post/hooks/index.ts
  src/pages/post/hooks/useHandleErrors.ts
  src/pages/post/index.tsx
  src/types/chat.ts
  src/types/payment.ts
Labels: 🪲 Bug, ✨ Fix, 🎁 Feature, 🎩 Style

#82 [PR] 전체적 오류 부분 점검
  package.json
  pnpm-lock.yaml
  src/components/alert/index.tsx
  src/components/alert/styles.ts
  src/components/errorFallback/index.tsx
  src/consts/agree.ts
  src/main.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/editMemberInfo/components/errorData/index.tsx
  src/pages/editMemberInfo/components/errorData/styles.ts
  src/pages/gallery/components/galleryDetail/index.tsx
  src/pages/gallery/components/galleryHeader/index.tsx
  src/pages/gallery/components/shareModal/index.tsx
  src/pages/gallery/hooks/shareKakao.ts
  src/pages/gallery/index.tsx
  src/pages/main/components/galleryInfo/index.tsx
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/pages/signup/components/checkAgree/index.tsx
  src/pages/signup/components/signupAgree/index.tsx
  src/types/gallery.ts
  src/utils/calcuateAge.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#87 [PR] 코드 리팩토링 및 수정
  src/apis/payment.ts
  src/main.tsx
  src/pages/chatModal/components/chat/ChatMenu.tsx
  src/pages/chatModal/components/chat/styles.ts
  src/pages/chatModal/components/viewer/Member.tsx
  src/pages/chatModal/components/viewer/ViewerMenu.tsx
  src/pages/chatModal/hooks/useChatScroll.ts
  src/pages/chatModal/hooks/useGetMessages.ts
  src/pages/chatModal/index.tsx
  src/pages/gallery/index.tsx
  src/pages/payment/components/sTotalCost/index.tsx
  src/pages/payment/hooks/usePostPayment.ts
  src/pages/payment/index.tsx
  src/pages/post/components/stepThree/index.tsx
  src/pages/post/components/stepTwo/index.tsx
  src/pages/post/index.tsx
  src/types/chat.ts
Labels: 🪲 Bug, ✨ Fix, 🔧 Refactor

#86 [PR] 전시 생성 SSE 요청, 추가 구현
  index.html
  package.json
  pnpm-lock.yaml
  src/assets/images/test.jpg
  src/assets/images/test2.jpg
  src/components/Dimmed.tsx
  src/components/ProgressPortal.tsx
  src/consts/agree.ts
  src/main.tsx
  src/pages/editMemberInfo/components/editMemberForm/index.tsx
  src/pages/gallery/components/galleryTemplate/rotate/styles.ts
  src/pages/main/index.tsx
  src/pages/post/components/progressModal/index.tsx
  src/pages/post/components/progressModal/styles.ts
  src/pages/post/hooks/usePostGalleries.ts
  src/pages/post/index.tsx
  src/pages/post/styles.ts
  src/pages/signup/components/checkAgree/index.tsx
  src/stores/modal.ts
  src/utils/calcuateAge.ts
Labels: ✨ Fix, 🎁 Feature, 🎩 Style, 🥃 Chore

#91 [deploy] Bug Fix
  src/apis/instance.ts
  src/consts/agree.ts
  src/pages/payment/components/sDiscount/styles.ts
Labels: 🪲 Bug, 🛰️ Deploy
